# safe only
alias r="ranger"
alias v="vim"

alias rzs="source ~/.zshrc"
alias rvi="source ~/.vimrc"
alias ar="sudo service apache2 restart"

alias yvi="youtube-dl -f best"
alias yau="youtube-dl --extract-audio -f best --audio-format m4a"
alias vlc="/Applications/VLC.app/Contents/MacOS/VLC"

# git aliases
alias gfr="git init && git add . && git commit -m 'first init'"
alias gps="git push origin master"
alias gpl="git pull origin master"
alias gst="git status"
alias gcm="git commit -m"
alias gcl="git clone"
alias gch="git checkout"
alias gaa="git add ."
alias gdf="git diff"

# functions
bak() { cp "$1" "$1.bak"; ls -la "$1" "$1.bak"; }
dup() { cp -R "$1" "$1-copy"; ls -la "$1" "$1.copy"; }
grp() { grep -R "$1" "$2"; }
mkc() { mkdir "$1"; cd "$1"; }
